<ion-header [translucent]="true">
  <ion-toolbar>
  <div class="mm_nav">
    <div class="mm_nav_content">
      <div class="mm_nav_content_left">
              <div class="mm_nav_content_left_image">
        <img class="mm_nav_content_left_image_picture"[src]="user"/>
      </div>
      <div class="mm_nav_content_left_text">
       <h2 class="mm_nav_content_left_text_title">Welcome back !</h2>
       <p class="mm_nav_content_left_text_name">user98956</p>
      </div>
    </div>
      <div class="mm_nav_content_icons">
        <ion-icon class="mm_nav_content_icons_icon" name="filter-outline"size="medium"></ion-icon>
        <ion-icon class="mm_nav_content_icons_icon"name="notifications-outline"></ion-icon>
        <ion-icon class="mm_nav_content_icons_icon"name="settings-outline"></ion-icon>
      </div>
    </div>
  </div></ion-toolbar>
</ion-header>

