<div class="mm_musicplayer" id="fullPlayer">
  <div class="mm_musicplayer_content">
      <div class="mm_musicplayer_content_header">
    <ion-buttons slot="end">
      <ion-button (click)="minimize()">Minimize</ion-button>
    </ion-buttons>
  </div>
<div class="mm_musicplayer_content_item">
  <div class="mm_musicplayer_content_item_image">
      <img class="mm_musicplayer_content_item_image_picture"[src]="currImage" alt="" id="currImg">
  </div>
  <div class="mm_musicplayer_content_item_text">
    <h2 class="mm_musicplayer_content_item_text_title">{{currTitle}}</h2>
    <p class="mm_musicplayer_content_item_text_subtitle"> {{currSubtitle}}</p>
</div>
</div>
<div class="mm_musicplayer_content_duration">

    <ion-range #range (ionChange)="touchMove()" (ionBlur)="touchEnd()" (ionFocus)="touchStart()">
      <ion-label slot="start">
        <ion-text>
          <b>{{currSecsText}}</b>
        </ion-text>
      </ion-label>
      <ion-label slot="end">
        <ion-text>
          <b>{{durationText}}</b>
        </ion-text>
      </ion-label>
    </ion-range>

</div>
<div class="mm_musicplayer_content_buttons">
  <ion-button fill="clear" mode="ios" (click)="playPrev()">
    <ion-icon name="play-skip-back-outline" style="font-size:30px"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" *ngIf="!isPlaying" (click)="play()">
    <ion-icon name="play" style="font-size:30px"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
    <ion-icon name="pause" style="font-size:30px"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" (click)="playNext()">
    <ion-icon name="play-skip-forward-outline" style="font-size:30px"></ion-icon>
  </ion-button>
</div>
<div class="mm_musicplayer_content_next">
  <ion-list-header>
    Następny w kolejce
  </ion-list-header>
  <!--up next song-->
 <div class=" mm_musicplayer_content_next_item">
    <ion-thumbnail slot="start">
      <img [src]="upNextImg" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{upNextTitle}}</h2>
      <p>{{upNextSubtitle}}</p>
    </ion-label>
</div>
</div>
  </div>
</div>
<!--- minimized player view-->
<ion-toolbar id="miniPlayer">
  <ion-item>
    <ion-thumbnail slot="start" (click)="maximize()">
      <img [src]="currImage" />
    </ion-thumbnail>
    <ion-label (click)="maximize()">
      <h2>{{currTitle}}</h2>
      <p>{{currSubtitle}}</p>
    </ion-label>
    <ion-button fill="clear" mode="ios" (click)="play()" *ngIf="!isPlaying">
      <ion-icon name="play" style="font-size:x-large"></ion-icon>
    </ion-button>
    <ion-button fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
      <ion-icon name="pause" style="font-size:x-large"></ion-icon>
    </ion-button>
    <ion-button fill="clear" mode="ios" (click)="cancel()">
      <ion-icon name="close" style="font-size:x-large"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</ion-toolbar>
